{% if log.command == constant('GibsonOS\\Module\\Hc\\Service\\Slave\\NeopixelService::COMMAND_SET_LEDS') %}
    <div class="neopixel_led_container" style="height: {{ maxTop }}px;">
    {% for slaveLed in slaveLeds %}
        <div class="neopixel_led{% if logLeds[loop.index-1] is not defined %} disabled{% endif %}" style="
            top: {{ slaveLed.top }}px;
            left: {{ slaveLed.left }}px;
            {% if logLeds[loop.index-1] is defined %}
                {% set logLed = logLeds[loop.index-1] %}
                background: rgb({{ logLed.red }}, {{ logLed.green }}, {{ logLed.blue }});
            {% endif %}
        "></div>
    {% endfor %}
    </div>
{% endif %}