{% block command %}IR Kommando{% endblock %}

{% block text %}IR Kommando empfangen{% endblock %}

{% block render %}
    <ul>
        {% for key in keys %}
        <li>
            {% if key.name is defined %}
                {{ key.name }}
            {% else %}
                Protokoll: {{ irProtocols[key.protocol] }}, Adresse: {{ key.address }}, Kommando: {{ key.command }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block explain %}
    {% if protocol is defined %}Protokoll: {{ protocol }}
    {% elseif address is defined %}Adresse: {{ address }}
    {% elseif command is defined %}Kommando: {{ command }}
    {% endif %}
{% endblock %}